.loginBackDiv {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./assets/divBackground.jpg) !important;
  filter:blur(2px)
}

.LoginCard
{
  width: 40%;
  height: auto; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.loginText{
  text-align: center;
}

.cardMediaLogo{
  background-image: url(./assets/loginLogo.png);
  height: 200px;
  background-size: contain !important;
}

.signInButton{
  left: 42%;
}
